<?xml version="1.0"?>
<config>
	<modules>
        <Pws_Managebrands>
            <version>0.1.0</version>
        </Pws_Managebrands>
    </modules>
	<global>
		<helpers>
			<managebrands>
				<class>Pws_Managebrands_Helper</class>
			</managebrands>
		</helpers>
		<blocks>
            <managebrands>
                <class>Pws_Managebrands_Block</class>
            </managebrands>   
        </blocks> 		
		<models>
            <managebrands>
                <class>Pws_Managebrands_Model</class>
				<resourceModel>managebrands_mysql4</resourceModel>
			</managebrands>   
			<managebrands_mysql4>
				<class>Pws_Managebrands_Model_Mysql4</class>
				 <entities>
                    <managebrands>
                        <table>managebrands</table>
                    </managebrands>
                </entities>
			</managebrands_mysql4>
        </models> 
		<resources>
            <managebrands_setup>
                <setup>
                    <module>Pws_Managebrands</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </managebrands_setup>
            <managebrands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </managebrands_write>
            <managebrands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </managebrands_read>
        </resources>	
	</global>
	<admin>
		<routers>
			<managebrands>
				<use>admin</use>
				<args>
					<module>Pws_Managebrands</module>
					<frontName>managebrands</frontName>
				</args>
			</managebrands>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<managebrands module="managebrands">
				<title>Facebook Feedback</title>
				<short_order>150</short_order>
				<action>managebrands/adminhtml_managebrands</action>	 
			</managebrands>
		</menu>
		<layout>
		   <updates>
				<managebrands>
					 <file>managebrands.xml</file>
				</managebrands>
		   </updates>
  		</layout>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <managebrands_options>
                                            <title>Manage Brand Settings</title>
                                        </managebrands_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>		
	</adminhtml>
</config>